<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Old America Prints</title>
  <link rel="stylesheet" href="/css/style.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="container-fluid">
    <header id="header" class="">
      <h3>Old America Prints</h3>

    <div class="top">
      <form>
        <input type="text" class="user-input" placeholder="search for a classic">
        <button type="submit" class="api-btn btn btn-default">Search the library</button>
        <button type="submit" class="db-btn btn btn-default" placeholder="Search the album" >Check our scrapbook</button>
      </form>
    </div>
    </header><!-- /header -->
    <div class="mid">
      <div class=" left-align pull-left col-md-6"></div>
      <div class="top-right pull-right col-md-6">
        <div class=" right-align"></div>
      </div>

    </div>







  </div> <!-- end of Bootstrap container-->

  <script src="/js/script.js" type="text/javascript"></script>
</body>
</html>
