body {
  /*background-color: #ffe;*/
  background:linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ), url(http://m.rgbimg.com/cache1vxvvY/users/x/xy/xymonau/600/okIsh8G.jpg) no-repeat center center  ;
  /* background-color: rgba(0,0,255,0.5);*/
  background-repeat: no-repeat;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  font-family: 'Pacifico', cursive !important;
  font-size: 16px !important;
}


img {
  height: 180px;
  width: 150px;
}

.btn {
  color: brown !important;
  background-color: rgba(228,228,228,0.4) !important;
}


.container-fluid {
  /*font-family: 'PT Sans' , sans-serif !important;*/
}

.left-align {
  width: 40%;
  max-width: 40%;
  /*margin-left: 30px;*/
  border-radius: 7px;
  font-family: 'PT Sans' , sans-serif !important;
  color: #450b0b;
}

.right-align {
  width:  87%;
  max-width:  100%;
  /*margin-left: -30px;*/
  border-radius: 7px;
  margin-right: 5px;
  font-family: 'PT Sans' , sans-serif !important;
  color: #450b0b;
}


ul {

  background:linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ), url(http://i.imgur.com/IAqhAnv.jpg) no-repeat center center   ;
  /* background-color: rgba(0,0,255,0.5);*/
  background-repeat: no-repeat;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  border-radius: 4px;
}
.right-align {
    /*position: absolute;*/
    left: 0px;
    top: 0px;
    z-index: 2;
}


.mid {
  margin-top: 8em;
  display: inline-block;

}

 .img-append {
  margin-left: 27px;
  width: 260px;
}


ul {
list-style-type: none;
}

h3 {
  color: brown !important;
  /*position: absolute;*/
    left: 0px;
    top: 0px;
    z-index: 2;
}

header {
  /*position: fixed;*/
   border-bottom:1px solid #eb4;
    background:#ffe;
    padding:15px 20px;
    top:0;
    left:0;
    z-index:200;
    width:100%;
}





